*{
    cursor: default;
}
.lista{
    text-align:center;
}
input{
    text-align:center;
    cursor: text;
}
ul{
    list-style-type: none;
    padding:0;
 
}
li{
   background-color:lightblue;
   position: relative;
   border: 1px solid black;
   
}


.simboloX{
    right:0;
    opacity: 0.5;
    position: absolute;
    padding-right:5px;
    
}
.simboloX:hover{
    opacity: 1;
    cursor: pointer;
    
    
}
