*{
    cursor: default;
    
}
body{
    background: url(so-white.png);
}
.lista{
    text-align:center;
}
input{
    text-align:center;
    cursor: text;
}
ul{
    list-style-type: none;
    padding:0;
 
}
li{
   background-color:lightblue;
   position: relative;
   border: 1px solid black;
   cursor: move;
   width:80%;
   margin: 0 auto;
   
   
}
li > span{
    cursor:move;
   
}
.draggable{
    cursor:move;
}


.simboloX{
    right:0;
    opacity: 0.5;
    position: absolute;
    padding-right:5px;
    
}
.simboloX:hover{
    opacity: 1;
    cursor: pointer;
    
    
}
.colorChanger{
    right:0;
    position:absolute;
    width: 15px;
    height: 15px;
    padding-left:5px;
    border: 1px solid black;
}
.check{
    right: 20px;
    top:2px;
    vertical-align: center;
    cursor: default;
}

